<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Detail</title>
</head>
<body>
<h2>Survey Result</h2>
<table>
    <tr>
        <th>Age</th>
        <th>Product</th>
        <th>Country</th>
        <th>Gender</th>
    </tr>
    <tr>
        <td th:text="${survey.getAge()}"></td>
        <td>
            <div th:each="product : ${survey.getProduct()}">
                <span th:text="${product}"></span>
                <br>
            </div>
        </td>
        <td th:text="${survey.getCountry()}"></td>
        <td th:text="${survey.getGender()}"></td>
    </tr>
</table>
</body>
</html>