<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>

</head>
<body>
<form th:action="@{/}" th:object="${survey}" method="post">
    <br/>
    <label>Age:</label>
    <input type="number" name="age" placeholder="Age" th:field="*{age}">
    <br/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red;"></span>

    <br/>
    <label>Product:</label>
    <div th:each="product : ${products}">
        <input type="checkbox" th:id="${product}" name="product" th:value="${product}">
        <label th:for="${product}" th:text="${product}"></label>
        <br>
    </div>
    <span th:if="${#fields.hasErrors('product')}" th:errors="*{product}" ></span>

    <br/>
    <label>Country:</label>
    <select name="country" id="country">
        <option value="us">VietNam</option>
        <option value="uk">ThaiLand</option>
    </select>
    <br/>
    <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" ></span>

    <br/>
    <label>Gender:</label>
    <div>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label>
    </div>
    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" ></span>

    <br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>